VITE_API_TARGET=http://localhost:8000
VITE_API_BASE=/api
VITE_GRAPH_SPACE=test
VITE_BASE=./
VITE_AUTH_ENABLED=false
VITE_ADMIN_EXAMPLE_FALLBACK=true
VITE_PORTAL_EMBEDDED_DEFAULT=false
VITE_PORTAL_ALLOWED_ORIGINS=https://edu.itic-sci.com
VITE_PORTAL_TARGET_ORIGIN=https://edu.itic-sci.com
VITE_PORTAL_SOURCE=tech-kg-api
